{% extends "components/base.njk" %}

{% block style %}<link rel="stylesheet" href="/static/css/index.min.css">{% endblock %}

{% block main %}
{% include "components/wave-background.njk" %}
{{ content }}
{% endblock %}
