.top-nav {
	position: fixed;
	z-index: 1;
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 0;
	top: 0;
	margin: 10px 0px;
}

.top-nav-links {
	margin-left: 10px;
}

.top-nav-home {
	color: rgb(255, 255, 255);
}

.top-nav-github-logo {
	width: 30px;
	margin-right: 10px;
}

.article-content {
	width: 60%;
	margin: auto;
}
