{% extends "components/base.njk" %}

{% block style %}
<link rel="stylesheet" href="/static/css/post.min.css">
<link rel="stylesheet" href="/static/css/atom-one-dark.min.css">
{% endblock %}

{% block main %}{{ content }}{% endblock %}
