<link rel="stylesheet" href="/static/css/navbar.min.css">
<nav class="top-nav">
    <a href="https://github.com/Redstonerayy">
        <img class="top-nav-github-logo" src="/static/images/github-mark.png" alt="Github Dark Logo">
    </a>
</nav>