<link rel="stylesheet" href="/static/css/navbar.min.css">
<nav class="top-nav">
    <div class="top-nav-links">
        <a class="top-nav-home" href="/">Home</a>
    </div>
    <a href="https://github.com/Redstonerayy">
        <img class="top-nav-github-logo" src="/static/images/github-mark-white.png" alt="Github Dark Logo">
    </a>
</nav>
